
body{
    background-color: black;
}
#left
{
    grid-area: 2/1;
}
#progress{
    position: fixed;
    top:0;
    font-size: 400%;
    right:0;
    color:white;
    padding:5px;
    font-weight: bold;
}
#health{
    position: fixed;
    top:0;
    left:0;
    font-size: 400%;
    color:red;
    padding:5px;
    font-weight: bold;
}
#up{
    grid-area: 1/2;
}
#right{
    grid-area: 2/3;
}
#down{
grid-area: 3/2;
}
#attack{
grid-area: 2/2;
    }
#movement{
    display: none;
}
#movementContainer{
    line-height: 33vh;
    text-align: center;
    font-size: 500%;
    color:white;
    width:100%;
    height:95vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}