.direction{
    position:fixed;

    font-size: 500%;

    color:white;

}
body{
    background-color: black;
}
#left
{
    width:49vw;
    height:49vh;
    text-align: center;
    line-height: 49vh;
    top:25vh;
    left:0;
}
#progress{
    position: fixed;
    top:0;
    font-size: 400%;
    right:0;
    color:white;
    padding:5px;
    font-weight: bold;
}
#health{
    position: fixed;
    top:0;
    left:0;
    font-size: 400%;
    color:red;
    padding:5px;
    font-weight: bold;
}
#up{
    height:25vh;
    top:0;
    left:0;
    line-height: 25vh;
    text-align: center;
    width: 100%;
}
#right{
    width:49vw;
    height:49vh;
    text-align: center;
    line-height: 49vh;
    top:25vh;
    right:0;
}
#down{
    height:25vh;
    line-height: 25vh;
bottom:0;
left:0;
text-align: center;
width: 100%;
}